.alert {
    padding-left: 30px;
    font-size: 13px;
    
    span {
        cursor: pointer;
    }

    &:not(.alert-dismissible) {
        padding-right: 30px;
    }

    &.alert-dismissable {
        padding-right: 44px;
    } 
}

.alert-inverse {
    background: fade_in(#333, .75);
    box-shadow: 0 0 5px fade_out(#333, .5);
    color: #fff;
    
    a, button {
        color: #fff !important;
    }
}

.growl-animated {
    border: 0;
    color: #fff;

    &.alert-info {
        background: fade_out($m-blue, .8);
        box-shadow: 0 0 5px fade_out($m-blue, .5);
    }

    &.alert-success {
        background: fade_out($m-green, .8);
        box-shadow: 0 0 5px fade_out($m-green, .5);
    }

    &.alert-warning {
        background: fade_out($m-orange, .8);
        box-shadow: 0 0 5px fade_out($m-orange, .5);
    }

    &.alert-danger {
        background: fade_out($m-red, .8);
        box-shadow: 0 0 5px fade_out($m-red, .5);
    }
}