/*
 * Roboto Light
 */
@include font-face(roboto, 'Roboto-Light-webfont');
    
/*
 * Roboto Regular
 */ 
@include font-face(roboto, 'Roboto-Regular-webfont', 400);

/*
 * Roboto Medium
 */
@include font-face(roboto, 'Roboto-Medium-webfont', 500);

/*
 * Roboto Bold
 */
@include font-face(roboto, 'Roboto-Bold-webfont', 700);

/*
 * Shadow Light
 */
@font-face {
  font-family: 'shadowsintolight-webfont';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url(https://fonts.gstatic.com/s/shadowsintolighttwo/v4/gDxHeefcXIo-lOuZFCn2xbIfIbZrEcH2WW587lG91II.woff2) format('woff2');
}

/*
 * Shadow Light normal
 */

@font-face {
    font-family: 'shadowsintolight';
    font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url(https://fonts.gstatic.com/s/shadowsintolighttwo/v4/gDxHeefcXIo-lOuZFCn2xbIfIbZrEcH2WW587lG91II.woff2) format('woff2');
}